div {
    display: flex;
}

.calculator {
    
    display: flex;
    background-color: lightblue;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    max-height: 100%;
    max-width: 200px;
    border-radius: 5px;
}

.display {
    display: flex;
    background-color: rgba(63, 134, 158, 0.488);
    padding: 10px;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 30px;
    border-radius: 5px;
    
}
.keyboard {
    flex-direction: column;
    background-color: rgb(212, 208, 208);
    border-radius: 5px;
}

.line1 {
    display: flex;
    background-color: rgb(212, 208, 208);
    padding: 5px;
    border-radius: 5px;
}

.line2 {
    display: flex;
    background-color: rgb(212, 208, 208);
    padding: 5px;
}

.line3 {
    display: flex;
    background-color: rgb(212, 208, 208);
    padding: 5px;
}

.line4 {
    display: flex;
    background-color: rgb(212, 208, 208);
    padding: 5px;
    border-radius: 5px;
}

button {
    display: flex;
    flex-grow: 1;
    margin: 5px;
    padding: 10px;
    align-items: center; 
    justify-content: center; 
}